@import "tailwindcss";
.tight-form .ant-form-item {
    margin-bottom: 0px;
    /* default 24px */
}

.custom-table .ant-table-thead>tr>th {
    background-color: #e6f4ff;
    /* Light blue */
    color: #0958d9;
    /* Darker blue for text */
    font-weight: 600;
}
@media print {
  body * {
    visibility: hidden !important;
  }
  .print-area, .print-area * {
    visibility: visible !important;
    
  }
  .print-area {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    z-index: 999999 !important;
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  @page {
    margin: 40px !important;
  }
}
